.nav-bar{
 width: 17.5rem;
 height: 100vh;
 left: 4.93rem;

&__logo{
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.313rem;
}
 &__menu{
  display: flex;
  margin-bottom: 1.313rem;
  gap: 20px;
  cursor: pointer;
  span {
    font-size: 1.188rem;
    font-weight: 700;
  }
 }
}
